@media(prefers-color-scheme: light) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 400;
        color: #2d2c28;
        background-color: #fdfdfc;
    }
}

@media(prefers-color-scheme: dark) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 400;
        color: #f1f0ef;
        background-color: #111110;
    }
}